.cont {
  background: linear-gradient(45deg, #282210 0%, #474d67 100%);
}
.shop {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 4rem !important;
}
.stars {
  padding-top: 14rem;
}
.stars img:nth-child(3) {
  position: absolute;
  left: 850px;
  top: 170px;
}
.stars img:nth-child(1) {
  position: absolute;
  left: 900px;
  top: 180px;
}
.stars img:nth-child(2) {
  position: absolute;
  left: 850px;
  top: 170px;
}

.content {
  padding-top: 4rem;
  color: white;
  width: 33rem;
}
.content h1 {
  font-size: 3.75rem;
  margin-bottom: 1.5rem;
}
.content p {
  font-size: 1.125rem;
  font-weight: 300;
}
.password-avatars {
  position: relative;
}
.register-avatar img:nth-child(1) {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
}
.register-avatar img:nth-child(2) {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 0px;
}
.register-avatar img:nth-child(3) {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  top: 0px;
}
.register-avatar img:nth-child(4) {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 60px;
  top: 0px;
}
.register-avatar img:nth-child(5) {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 80px;
  top: 0px;
}
.password-avatars {
  padding-bottom: 5.6875rem;
}
.users-count {
  color: white;
  font-weight: 300;
  margin-top: 1rem;
  margin-left: 8rem;      
}

@media (max-width: 556.98px) {
  .password-route {
    margin-left: 1rem !important;
    padding-left: 0 !important;
    width: 22rem;
  }
  .password-foot{
    display: block !important;
    margin-top: 25rem;
  }
 .password-foot p{
    display: none;
  }
  .password-foot small:nth-child(2){
    margin-left: 3.5rem;
  }
  .shops{
    display: none;
  }
}